.row{
    margin: 0;
    padding: 0;
}

.mainContent{
    padding: 0;
}

.header{
    background: #ffff1a;
    height: 100px;
    padding: 0;
}

.nav{
    background: #ffff1a;
    height: 800px;
    padding: 0;
}
  
.ads {
    background: pink;
    height: 600px;
    padding: 0;
}

.footer{
    background: #ccc;
    height: 191px;
    padding: 0;
}