div{
    height: 100px;
    font-size: 1.5rem;
    font-weight: bold;
}

.fonas-blue{
    background: lightblue;
    border: 2px solid pink;
}

.fonas-pink{
    background: pink;
    border: 2px solid blue;
}

.fonas-green{
    background: green;
    border: 2px solid yellow;
}

.plotis-100 {
    background: yellow;
    border: 2px solid blue;
}

.plotis-30{
    width: 30%;
}

.plotis-100{
    width: 100%;
}

.plotis-45{
    width: 45%;
}

.float{
    float: left;
    margin: 10px;
}

.clearFloat{
    content: "";
    clear: both;
}