

.aukstis-100 {
    height: 100px;
}

.aukstis-300 {
    height: 300px;
}

.aukstis-400 {
    height: 400px;
}

.aukstis-500 {
    height: 500px;
}

.specissue {

    padding-bottom: 100%;
    margin-bottom: -100%;
}

.specissue-2 {
    overflow: hidden;
}
