* {
    box-sizing: border-box;
}
/*------------*/

button{
    width: 33%;
    margin-left: auto;
    margin-right: auto;

}
h1{
    text-align: center;
    width: 100%;
}
div{
    display: flex;
    align-content: center;
}
