/* komentas */
.fonas-zalias{ background-color: green; }

.fonas-geltonas{ background-color: yellow; }

.fonas-melynas{ background-color: blue; }

.fonas-raudonas{ background-color: red; }

.fonas-orandzinis{ background-color: orange; }

article {
    border: solid 2px #333;
}
