body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Squada One', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
    letter-spacing: 2px;
}

h2{
    font-family: 'Squada One', cursive;
    font-size: 2rem;
    margin-left: 10px;
    font-style: italic;
}

nav{
    background-color: #ffd9cc;
    width: 100%;
    height: 80px;
    margin: 0;
}

ul.menu{
    text-decoration: none;
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
    float: left;
    width: 70%;
}

ul.menu li{
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
    text-transform: uppercase;
    display: inline;
    margin: 0 120px;
}

#searchBox{
    float: right;
    width: 30%;
    margin: 20px 0;
}

button{
    background: #333;
    border: none;
    width: 90px;
    height: 40px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

input{
    width: 400px;
    height: 34px;
}

.wrapper{
    margin: 10px 0;
    width: 100%;
    height: 730px;
}

.content{
    float: left;
    width: 86.5%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.intro {
    text-align: justify;
    margin: 30px 10px;
}

.subsection {
    text-align: justify;
    margin: 0 10px;
}

.sidebar{
    background-color: #ffd9cc;
    float: right;
    width: 13%;
    height: 100%;
}

ul.links li{
    margin: 20px auto;
}

.clearFloat{
    content: "";
    clear: both;
}

footer{
    background-color: #d9d9d9;
    width: 100%;
    height: 100px;
}

footer p{
    margin: 0;
    padding: 40px 0 0 20px;
}