h1 {
    color: red;
}
.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}

.fonas-r { background-color: green; }
.fonas-m { background-color: blue; }
.fonas-z { background-color: red; }
.plotis-40 {
    width: 40%;
}
.float-i-kaite {
    float: left;
}
.isjungiu-float {
    clear: both;
    content: "";
}







/*  */
