h1 {
    color: red;
}
.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}
article {border: solid 3px #323}
.fonas-r { background-color: blue; }
.fonas-m { background-color: green; }
.fonas-z { background-color: pink; }
.fonas-i {background-color: yellow}
.plotis-30 {
    width: 30%;
}
.plotis-100 {
    width: 100%
    ;}
.plotis-45 {
    width: 45%
}
.float-i-kaire {
    float: left;
}
/* visos issigalvotos klases pradedamos tasku */
.isjungiu-float {
    clear: both;
    content: "";
}







/*  */
