body{
    margin: 0;
}

p{
    text-align: justify;
    margin: 0;
    padding: 5% 1% 1%;
}

h1{
    text-align: center;
}

.block1, .block2, .block3 {
    background-color: #ccc;
    border: 2px solid #000;
    width: 30%;
    text-align: center;
    float: left;
    margin-left: 2.5%;
    position: relative;
}

.chicken, .beef, .sushi{
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 18px;
}

.floatOff{
    content: "";
    clear: both;
}

.chicken{
    background-color: rgb(255, 133, 200);
}

.beef{
    background-color: rgb(226, 77, 77);
    color: #fff;
}

.sushi{
    background-color: rgb(243, 241, 122);
}


/* For tablets */
@media (max-width: 900px) {
    .block1, .block2 {
        width: 47.4%;
        margin: 1%;
    }

    .block3 {
        width: 98%;
        margin: 0.5%;
    }
}

/* For mobile devices */
@media (max-width: 600px){
    .block1, .block2, .block3{
        width: 90%;
        margin: 0 1% 3% 1%;
    }
}